<h1>welocome {{name}}</h1>
<div class="box">
<!-- <app-aboutus></app-aboutus> -->
<!-- <a routerLink="/employee" routerLinkActive="active">Employee List</a>&nbsp;&nbsp;&nbsp; -->
<a routerLink="/about" routerLinkActive="active">About us</a>&nbsp;&nbsp;&nbsp;
<a routerLink="/contacts" routerLinkActive="active">Contact us</a>&nbsp;&nbsp;&nbsp; 
<a routerLink="/career" routerLinkActive="active">Carrers</a>&nbsp;&nbsp;&nbsp;
<!-- <app-contacts></app-contacts> -->
</div>
<!-- <marquee class="mar">welocome {{name}}</marquee> -->