<div class="about">
    <h2>Description :</h2>
<p>
    This Application consits of register and login pages. In register form we have to register by giving user details,if
   any field is empty then the submit button will not work.After giving all the details and then click the submit button.
   After clicking submit button the user data will be stored in the database. Then in login page we have to give details with
   which we have registered and then if it matches then it redirects to welcome page and if wrong details are enetered 
   we will get an alert box that the entered data is not correct.
</p>
</div>
