<div class="about">
    <h2>about :</h2>
<p>
    This Application consits of register and login. In register form we have to register by giving user details,if
   any field is empty then the submit button will not be work.After giving the all the details  click on submit.
   After clicking submit button the user data will store in the database. Then in login page we have to give details
   of were we have enterd in register if it match then only login page will be success if not it will get an  alert box 
   that is your specified data is not correct.After login page success its directly goes to next page .
</p>
</div>
