<div class="carrer">
<h4>Self Assessment:</h4>
<p >Trying to find a career without being self aware is like trying to run a race not knowing where the finish line is.
     How can you know which career path is going to be most satisfying, if you don't even know what you're all about? You can't.
    That's why self assessment (sometimes referred to as a career assessment) is such an important part of the career planning process.
     During the self assessment process you'll use tools designed to help you learn more about your interests, values,
     personality, aptitudes, skill sets, developmental needs, and preferred work environments, so you can make an informed career decision. 
    By the end of the self assessment process you'll have identified various occupations that are good fit for you.</p>
</div>
