
<nav class="navbar navbar-dark bg-primary"> 
  
  
  <!-- <button onclick="redirect(my-page)">Home</button> -->
  <button class ="btn btn-primary" type="button"  [routerLink]="['/']">Home</button>
  <!-- <button class ="btn btn-primary" type="button"  [routerLink]="['/login']">Login</button> -->
  <!-- <button class ="btn btn-primary" type="button"  [routerLink]="['/register']">register</button> -->
 <!-- <a routerLink="/" routerLinkActive="active">Home</a> 
 <a routerLink="/loginform" routerLinkActive="active">Register</a> 
 <a routerLink="/login" routerLinkActive="active">Login</a>  -->
<!-- <a routerLink="/employee" routerLinkActive="active">Employee List</a>&nbsp;&nbsp;&nbsp; -->
</nav>
<div class="myBackground"></div>
<!-- <app-loginform></app-loginform> -->
<!-- <app-login></app-login> -->
<button class ="btn btn-primary" id="log" type="button"  [routerLink]="['/login']">Login</button>
<button class ="btn btn-primary " id="reg" type="button"  [routerLink]="['/register']">register</button>


<router-outlet></router-outlet> 